  <div class="row">
    <h2>Stocks</h2>
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Symbol</th>
            <th>Market Cap</th>
            <th>Last Trade</th>
            <th>Owned</th>
            <th>Value</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stock of stocksData; let i=index">
            <td>{{i+1}}</td>
            <td>{{stock.symbol}}</td>
            <td>{{stock.marketCapitalization}}</td>
            <td>{{stock.lastTradePriceOnly | currency:'USD':true}}</td>
            <td>{{stock.own}}</td>
            <td>{{stock.own * stock.lastTradePriceOnly | currency:'USD':true}}</td>
            <td>
              <button (click)="showArticlesEvt.next(stock.symbol)">Show Articles</button>
              <button (click)="removeStock(stock.symbol)">Remove</button>
            </td> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>